PROJECT_NAME="FastAPI Multi-DB Project"
POSTGRES_URL=postgresql+asyncpg://postgres:password@localhost:5432/my_database
MONGODB_URL=mongodb://localhost:27017/my_database

# ==============================
# Redis & Frontend
# ==============================
REDIS_URL=redis://localhost:6379/0
FRONTEND_URL=http://localhost:3000

# ==============================
# SMTP Mail Settings
# ==============================
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_SERVER=
MAIL_PORT=587