PROJECT_NAME="FastAPI Multi-DB Project"
POSTGRES_URL=postgresql+asyncpg://postgres:password@localhost:5432/my_database
MONGODB_URL=mongodb://localhost:27017/my_database

# ==============================
# Redis
# ==============================
REDIS_URL=redis://localhost:6379/0